@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-md: var(--text-md);

  --color-header-blue: var(--color-header-blue);
  --color-header-blue-hover: var(--color-header-blue-hover);
  --color-header: var(--color-header);
  --color-main: var(--color-main);
  --color-filter-dropdown: var(--color-filter-dropdown);
  --color-filter-dropdown-hover: var(--color-filter-dropdown-hover);
  --color-filter-dropdown-focus: var(--color-filter-dropdown-focus);
  --color-tarpaulin-grey: var(--color-tarpaulin-grey);
  --color-gray: var(--color-gray);
  --color-input-search: var(--color-input-search);
  --color-bg-logo: var(--color-bg-logo);
  --color-bg-logo-hover: var(--color-bg-logo-hover);
  --color-gray-navigation-hover: var(--color-gray-navigation-hover);

  --color-filter-outline: var(--color-filter-outline);
  --color-filter-outline-hover: var(--color-filter-outline-hover);
  /* Цвета качества */

  --color-FN: var(--color-FN);
  --color-FN-hover: var(--color-FN-hover);

  --color-MW: var(--color-MW);
  --color-MW-hover: var(--color-MW-hover);

  --color-FT: var(--color-FT);
  --color-FT-hover: var(--color-FT-hover);

  --color-WW: var(--color-WW);
  --color-WW-hover: var(--color-WW-hover);

  --color-BS: var(--color-BS);
  --color-BS-hover: var(--color-BS-hover);

  /* Цвета раритетности */

  --color-consumer-grade: var(--color-consumer-grade);
  --color-consumer-grade-hover: var(--color-consumer-grade-hover);

  --color-industrial-grade: var(--color-industrial-grade);
  --color-industrial-grade-hover: var(--color-industrial-grade-hover);

  --color-mil-spec-grade: var(--color-mil-spec-grade);
  --color-mil-spec-grade-hover: var(--color-mil-spec-grade-hover);

  --color-restricted: var(--color-restricted);
  --color-restricted-hover: var(--color-restricted-hover);

  --color-classified: var(--color-classified);
  --color-classified-hover: var(--color-classified-hover);

  --color-covert: var(--color-covert);
  --color-covert-hover: var(--color-covert-hover);

  --color-contraband: var(--color-contraband);
  --color-contraband-hover: var(--color-contraband-hover);

  --color-master: var(--color-master);
  --color-master-hover: var(--color-master-hover);

  --color-superior: var(--color-superior);
  --color-superior-hover: var(--color-superior-hover);

  --color-exceptional: var(--color-exceptional);
  --color-exceptional-hover: var(--color-exceptional-hover);

  --color-distinguished: var(--color-distinguished);
  --color-distinguished-hover: var(--color-distinguished-hover);

  --color-base-grade: var(--color-base-grade);
  --color-base-grade-hover: var(--color-base-grade-hover);

  --color-high-grade: var(--color-high-grade);
  --color-high-grade-hover: var(--color-high-grade-hover);

  --color-remarkable: var(--color-remarkable);
  --color-remarkable-hover: var(--color-remarkable-hover);

  --color-exotic: var(--color-exotic);
  --color-exotic-hover: var(--color-exotic-hover);

  --color-extraordinary: var(--color-extraordinary);
  --color-extraordinary-hover: var(--color-extraordinary-hover);

  --radius-small: var(--radius-small);

  --color-header-gray: var(--color-header-gray);
  --color-header-gray-hover: var(--color-header-gray-hover);
  --color-border-gray: var(--color-border-gray);
  --color-input-dark: var(--color-input-dark);
  --color-input-dark-hover: var(--color-input-dark-hover);
  --color-slider: var(--color-slider);
  --color-slider-light: var(--color-slider-light);
  --color-orange-custom: var(--color-orange-custom);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);

  --color-header-gray-hover: #272e39;
  --color-header-gray: #20242c;
  --color-border-gray: #1c1d20;
  --color-input-dark: #101114;
  --color-input-dark-hover: #343437;
  --color-slider: #50a7cc;
  --color-slider-light: #43c7ff;
  --color-header-blue: #1888b8;
  --color-header-blue-hover: #0aa9ed;
  --color-header: #181a1e;
  --color-gray-navigation-hover: #23262c;
  --color-main: #131417;
  --color-filter-dropdown: #1c1f26;
  --color-filter-dropdown-hover: #202227;
  --color-filter-dropdown-focus: #232934;
  --color-tarpaulin-grey: #4c4f49;
  --color-gray: #adaeaf;
  --color-input-search: #17191d;
  --color-bg-logo: #5d6676;
  --color-bg-logo-hover: #8c93a3;
  --color-filter-outline: #242527;
  --color-filter-outline-hover: #36373a;
  /* Цвета качества */

  --color-FN: #15252a;
  --color-FN-hover: #162c32;

  --color-MW: #2d3521;
  --color-MW-hover: #353f24;

  --color-FT: #453f21;
  --color-FT-hover: #5a5125;

  --color-WW: #452e21;
  --color-WW-hover: #5a3926;

  --color-BS: #42221f;
  --color-BS-hover: #562823;

  /* Цвета раритетности */
  --color-consumer-grade: #8a909a;
  --color-consumer-grade-hover: #bac2cf;

  --color-industrial-grade: #4175a5;
  --color-industrial-grade-hover: #559fe2;

  --color-mil-spec-grade: #253db6;
  --color-mil-spec-grade-hover: #2d4ffa;

  --color-restricted: #5c3f98;
  --color-restricted-hover: #7b51cf;

  --color-classified: #7a3a86;
  --color-classified-hover: #a64bb5;

  --color-covert: #a60d07;
  --color-covert-hover: #e40a00;

  --color-contraband: #b88d0d;
  --color-contraband-hover: #ffc109;

  --color-master: #a60d07;
  --color-master-hover: #e40a00;

  --color-superior: #7a3a86;
  --color-superior-hover: #a64bb5;

  --color-exceptional: #5c3f98;
  --color-exceptional-hover: #7b51cf;

  --color-distinguished: #253db6;
  --color-distinguished-hover: #2d4ffa;

  --color-base-grade: #888e98;
  --color-base-grade-hover: #bac2cf;

  --color-high-grade: #253db6;
  --color-high-grade-hover: #2c4ef5;

  --color-remarkable: #5c3f98;
  --color-remarkable-hover: #7b51cf;

  --color-exotic: #5c3f98;
  --color-exotic-hover: #7b51cf;

  --color-extraordinary: #a60d07;
  --color-extraordinary-hover: #e40a00;

  --color-orange-custom: #f24c05;
  --text-md: 14px;

  --radius-small: 4px;

  .triangle-square {
    margin-top: 4px;
    width: 11px; /* 5 на 5, в пикселях */
    height: 11px; /* 5 на 5, в пикселях */
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%); /* Обрезаем по диагонали */
  }
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.text-wrap {
  word-wrap: break-word; /* Для старых браузеров */
  overflow-wrap: break-word; /* Для современных браузеров */
}
